<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>We noticed your MidasPool account was accessed from {{ url }}</p>
    <p>{{ message }}</p>
    <p>Best regards,<br> Midas Pool</p>


    <p>Привет {{ name }},</p>
    <p>Мы заметили попытку входа на вашу учетную запись Midaspool от {{ url }}</p>
    <p>{{ message }}</p>
    <p>С наилучшими пожеланиями,<br> Мидас Пул</p>


    <p>Сәлем {{ name }},</p>
    <p>Сіздің Midaspool жеке жазбаңызға көрсетілген мекенжайдан кіру әрекетін байқадық {{ url }}</p>
    <p>{{ message }}</p>
    <p>Ізгі ниетпен,<br> Мидас Пул</p>
</body>
</html>
