<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>Thank you for using ZiwiShop. Here's your personalized message:</p>
    <p>{{ message }}</p>
    <p>You can access the following URL: <a href="{{ url }}">{{ url }}</a></p>
    <p>Best regards,<br>{{ from.name }}</p>
</body>
</html>
