<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>Thank you for using MidasPool. Here's your personalized message:</p>
    <p>{{ message }}</p>
    <p>You can access the following URL: <a href="{{ url }}">{{ url }}</a></p>
    <p>Best regards,<br> Midas Pool</p>


    <p>Привет, {{ name }},</p>
    <p>Спасибо, что пользуетесь MidasPool. Вот ваше персонализированное сообщение:</p>
    <p>{{ message }}</p>
    <p>Вы можете перейти по ссылке: <a href="{{ url }}">{{ url }}</a></p>
    <p>С наилучшими пожеланиями,<br> Мидас Пул</p>


    <p>Сәлем {{ name }},</p>
    <p>MidasPool қызметтерін пайдаланғаныңыз үшін алғыс білдіреміз. Сіздің жеке хабарламаңыз:</p>
    <p>{{ message }}</p>
    <p>Сілтеме арқылы өтсеңіз болады: <a href="{{ url }}">{{ url }}</a></p>
    <p>Ізгі ниетпен,<br> Мидас Пул</p>
</body>
</html>
